@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


$white: #fff;
$black: #1c1c1c;
$secoundary:rgb(187, 140, 21);
$primary:#4d8eff;
$accent:#2b6ddf;


* {
  box-sizing: border-box;
  margin:0;
  &::before, &::after {
    box-sizing: border-box;
  }
}

.html {
  font-size: 16px; 
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  position: relative;
}

h1{
  font-family: 'Playfair Display';
  font-size: 2.5rem;
}

a {
  color: $white;
  text-decoration: none;
  
}

li {
  list-style-type: none;
  
}

p{
  font-size: 1.3rem;
}

.button-primary{
  white-space: nowrap;
  border-radius: 5px;
  padding: 1rem 3rem ;
  text-transform: uppercase;
  color:white;
  text-align: center;
  background-color: $primary;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  
  &:hover{
    background-color: $accent;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
    
  }
}



.button-secoundary{
  white-space: nowrap;
  background-color: white;
  border:1px solid $primary;
  padding: 1rem 2rem;
  color:$primary;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;

  &:hover{
    border:2px solid $primary;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
  }
  
}




// <!--================HERO SECTION===============-->

.hero-section{
  color: $white;
  background-image: url(img/hero-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-left: 5rem;
  padding-right: 5rem;
}


.hero-mid{
  display: flex;
  justify-content: space-between;
}

.navigation{
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  
   li a {
    text-transform: uppercase;
   
      &:hover{
      color:$secoundary;
    }
  }
}


.logo{
  height: 5rem;
  width: 6rem;
  margin-top: -1.5rem;
}


.booking label{
  color:$secoundary;
}

.hero-social li a i{
margin-bottom: 2rem;
font-size: 1.2rem;

}

.line{
  margin-right: 0.2rem;
  height: 10rem;
  width: 0.1rem;
  border: 1px solid $accent;
  
}
.lined{
  display: flex;
  
}

.hero-cta span{
  text-transform: uppercase;
  color:$secoundary;
  .hero-cta p{
    margin-bottom: 2rem;
  }
}


.booking{
  width: 40vw;
  height: 55vh;
  background-color: white;
  display: flex;
  text-transform: uppercase;
  border-radius: 5px;
}


.calendar{
 margin-left:3rem;
 margin-top: 3rem;
  
}

.guests{
  margin-left:20rem;
  margin-top: -13.2rem;

  .guest{
    margin-bottom: 2rem;
    display: block;

    select{
      color:grey;
      padding: 0.8rem 1rem;
      margin-top: 0.5rem;
      border:none;
      background-color: rgb(241, 238, 238) ;
    }
  }
  
}


.option {
  color:inherit;
  
}

.checkin{
  display: block;
  margin-bottom: 2rem;

  div{
    display: flex;
  }
   input{
    padding: 0.8rem 1rem;
    margin-top: 0.5rem;
    border:none;
    background-color: rgb(241, 238, 238);
  }

   i {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color:$primary;
    margin-top: 0.6rem;
  }
}

/*=============MEDIA QUERIES====================*/

@media screen and (min-width: 375px) {
  .hero-section {
    padding: 0rem 2rem;
    padding-bottom: 5rem;
  }

  .navigation {
    display: none;
  }

  .logo {
    margin-left: -1rem;
  }
  .hero-cta {
    h1 {
      font-size: 1.7rem;
      padding-bottom: 0.5rem;
    }
  }
  p {
    display: none;
  }
  .nav-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0rem;

    i {
      font-size: 2rem;
      margin-right: 5rem;
      cursor: pointer;
    }
  }

  .booking {
    width: 70vw;
    height: 20rem;
    margin-top: 3rem;
    overflow: hidden;
    .button-secoundary {
      margin-left: -8rem;
    }
    .calendar {
      margin-top: 1.5rem;
    }
  }

  .hero-mid {
    display: block;
  }
  .hero-social {
    display: flex;
  }
  i {
    margin-right: 1.5rem;
  }
  .lined {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 1rem;
  }
  .navigation {
    display: flex;
  }

  .nav-mobile {
    display: none;
  }

  .hero-mid {
    display: block;
    margin-left: 6rem;
  }
  .hero-social {
    display: flex;
    i {
      margin-right: 2rem;
    }
    .lined {
      display: none;
    }
  }
  .hero-cta {
    display: block;
    margin-right: 5rem;
    h1 {
      font-size: 2rem;
    }
  }

  .booking {
    display: block;
    width: 70vw;
    height: 25rem;
    padding-top: 2rem;
    margin-top: 5rem;
  }
}

// @media screen and (min-width:812px){
//  .navigation{
//    margin-top: -1rem;
//  }

//  .hero-social{
//    display: none;
//  }
//   .hero-mid{
//     margin-top: -3rem;
//     margin-left: 0rem;
//     display: flex;
//   }

//   .booking{
//     width: 40vw;
//     height: 70vh;
//     margin-top: -1rem;
//     padding: 0;
//     background-color: transparent;

//     .button-secoundary{
//      display: none;
//     }
//     label{
//       font-size: 0.8rem;
//       background-color: grey;
//       color:white;
//       padding: 0.3rem 0.5rem;
//       border-radius: 5px;

//     }
//     input{
//       margin-top: 1rem;
//       border-radius: 5px;
//     }
//     i{
//       margin-top: 1.5rem;
//     }
//   }

//   .hero-cta{
//     h1{
//       font-size: 1.7rem;
//     }
//   }

//   .checkin{
//     margin-bottom: 2rem;
//   }

// }

@media screen and (min-width: 1024px) {
  .booking {
    display: flex;
    height: 60vh;
    margin-top: 0rem;
    width: 40vw;
  }

  p {
    display: block;
  }
  .hero-section {
    padding: 2rem 3rem;
    height: 100%;
  }

  .hero-mid {
    display: flex;
  }

  .hero-social {
    display: block;
    margin-left: -5rem;
  }
  .calendar {
    padding-left: 1rem;
  }

  .hero-cta {
    margin-top: -2rem;
  }
  h1 {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 1466px) {
  .hero-section {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
    .button-secoundary {
      margin-left: 3rem;
      padding: 1rem 4rem;
    }
  }

  .hero-mid {
    margin-top: 5rem;
  }

  .hero-social {
    margin-top: 7rem;
  }
  .calendar {
    padding-left: 3rem;
    padding-top: 2rem;
  }

  .booking {
    height: 40vh;
    margin-top: 5rem;
  }
  .booking input {
    width: 20rem;
  }

  .guest select {
    margin-left: 7rem;
    width: 10rem;
  }

  .guest label {
    margin-left: 7rem;
  }

  .hero-cta {
    margin-top: 6rem;

    h1 {
      font-size: 3rem;
    }
  }
}


// <!--================ABOUT US ===============-->

.about-wrapper {
  padding: 7rem 10rem;
  padding-bottom: 3rem;
  .a-p {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  p {
    width: 40rem;
    text-align: center;
    color: $black;
  }
}

.a-title {
  text-align: center;
  margin-bottom: 1rem;
  span {
    text-transform: uppercase;
    color: #bb8c15;
  }
}
.about-icons {
  display: flex;
  margin-top: 3rem;
  justify-content: space-around;
  span {
    text-transform: uppercase;
    color: #bb8c15;
    font-weight: bold;
  }
}

.icon {
  display: flex;
  flex-direction: column;

  span {
    padding-top: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
}

/*=============OUR PROCESS====================*/

.wrapper-process {
  margin-top: 5rem;
  margin-bottom: 5rem;
  h1 {
    text-align: center;
  }
}
.process {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  margin-left: 4rem;
}

.process-img img {
  width: 40rem;
  clip-path: polygon(71% 0, 84% 44%, 100% 100%, 0 100%, 0 0);
}

.steps-process {
  width: 40%;
  margin-top: 1rem;
  .one {
    margin-left: -10rem;
    h2 {
      width: 5rem;
    }
  }
  .two {
    margin-left: -5rem;
    h2 {
      width: 5rem;
    }
  }
  .three {
    h2 {
      width: 5rem;
    }
  }
}

.step-info {
  margin-left: 2rem;
  span {
    text-transform: uppercase;
    color: #bb8c15;
  }
  p {
    font-size: 1.1rem;
    width: 20rem;
    color: $black;
  }
}
.step-p {
  margin-bottom: 3rem;
}
.step-f {
  display: flex;
  h2 {
    background-color: $primary;
    width: 11rem;
    height: 5rem;
    border-radius: 50%;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
}

/* <!--================ROOMS ===============-*/

$radius: 10px;

.rooms-t {
  margin-top: 7rem;
  text-align: center;
  span {
    text-transform: uppercase;
    color: $secoundary;
  }
}

.cards {
  margin-top: 1rem;
  padding: 10px;
  margin-bottom: 10rem;
  display: grid;
  grid-gap: 2 * $radius;

  .card {
    position: relative;
    max-height: 340px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    display: grid;
    grid-gap: $radius;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));

    &__img {
      max-height: 200px;
      border-radius: $radius;
      overflow: hidden;
      img {
        height: 200px;
        width: 300px;
      }
    }

    &__details {
      position: relative;
      top: -36px;
      width: 90%;
      padding: 10px;
      margin: 0 auto;
      background: rgb(255, 255, 255);
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(3, 6, 31, 0.15);
      display: grid;
      grid-gap: 5px;

      h3 {
        font-size: 22px;
        font-weight: 400;
      }

      .address {
        color: #777777;
        font-size: 12px;
      }

      .price {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .price__l {
          width: 100%;
          text-align: right;
          .price__label {
            font-weight: 600;
            text-align: right;
          }
        }

        .star {
          display: flex;
          i {
            width: 14px;
            margin: 0.25rem;
            color: $secoundary;
          }
        }
      }

      button {
        cursor: pointer;
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 5px;
        background: $primary;
        color: white;
        font-size: 1rem;
        &:focus {
          outline: none;
        }
      }
    }

    .credit-img {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: $radius;
      font-size: 10px;
      text-align: right;
    }
  }
}

//================= ROOMS MEDIA QUERIES==========//

@media (max-width: 347px) {
  .cards {
    .card {
      &__details {
        .price {
          align-items: baseline;
          .price__l {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cards {
    .card {
      grid-template-columns: 1fr 1fr;

      &__details {
        top: 0;
        align-items: flex-start;
        align-content: center;

        grid-gap: 10px;

        .price {
          grid-template-columns: auto 1fr;
          font-size: 15px;
        }

        .address {
          margin-top: -7px;
        }
      }

      .credit-img {
        padding: 15px 25px;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .cards {
    .card {
      grid-template-columns: 1fr 1fr;

      &__details {
        top: 0;
        align-items: flex-start;
        align-content: center;

        grid-gap: 10px;

        .price {
          grid-template-columns: auto 1fr;
          font-size: 15px;
        }

        .address {
          margin-top: -7px;
        }
      }

      .credit-img {
        padding: 15px 25px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .cards {
    grid-template-columns: 1fr 1fr;

    .credit-img {
      font-size: 8px !important;
    }
  }
}

@media (min-width: 1025px) {
  .wrapper {
    width: 960px;
    margin: auto;

    .cards {
      grid-template-columns: 1fr 1fr 1fr;

      .card {
        &__details {
          h3 {
            font-size: 19px;
          }
        }
      }
    }
  }
}
